#gameboard {
    width: 320px;
    height: 320px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}

.squere {
    height: 40px;
    width: 40px;
    position: relative;
}

.squere svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

.piece {
    position: relative;
    z-index: 9;
}

path {
    position: relative;
    z-index: -10;
}

.beige {
    background-color: grey;
}

.brown {
    background-color: brown;
}

.black {
    fill: black
}

.white {
    fill: white;
}